.innerBanner {
  //   background-image: url(attr(data-img));
  height: 310px;
  background-repeat: no-repeat;
  background-position: right bottom;
  .innerBannerBg {
    background: rgb(207, 210, 225);
    background: linear-gradient(
      90deg,
      rgba(207, 210, 225, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 100%;
    display: flex;
    align-items: flex-end;
    @media (max-width: 991px) {
      background: linear-gradient(
        90deg,
        rgba(207, 210, 225, 1) 40%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    @media (max-width: 575px) {
      background: rgba(207, 210, 225, 0.6);
    }
    h1 {
      font-size: 30px;
      padding-bottom: 40px;
      position: relative;
      font-weight: 700;
      &:after {
        content: "";
        display: inline-flex;
        width: 150px;
        height: 10px;
        position: absolute;
        background-color: #e8691e;
        bottom: -6px;
        left: 0;
        border-radius: 15px;
      }
    }
  }
}
.innerSection {
  padding-top: 60px;
  padding-bottom: 60px;
}
