.feature-box {
  * {
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  position: relative;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  .feature-box-content {
    max-width: 100%;
  }
  .feature-box-shadow {
    &:hover {
      border-color: transparent !important;
      -moz-transform: translate3d(0, -3px, 0);
      -o-transform: translate3d(0, -3px, 0);
      -ms-transform: translate3d(0, -3px, 0);
      -webkit-transform: translate3d(0, -3px, 0);
      transform: translate3d(0, -3px, 0);
    }
  }
  &:hover {
    .feature-box-overlay {
      opacity: 1;
    }
    .feature-box-icon-hover {
      opacity: 1;
    }
    .light {
      i {
        color: #232323;
      }
    }
    .dark {
      i {
        color: #fff;
      }
    }
  }
}
.feature-box-left-icon {
  .feature-box-icon {
    margin-right: 35px;
  }
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  .feature-box-content {
    overflow: hidden;
    flex: 1;
  }
}
.feature-box-left-icon-middle {
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  .feature-box-content {
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1;
  }
}
.feature-box.text-left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.feature-box.text-right {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.feature-box.feature-box-shadow {
  &:hover {
    border-color: transparent !important;
    -moz-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    .feature-box-overlay {
      opacity: 1;
    }
  }
  .feature-box-overlay {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    opacity: 0;
  }
}
.feature-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}
.feature-box.feature-box-dark-hover {
  &:hover {
    .btn {
      color: #fff !important;
      border-color: #fff !important;
    }
    .feature-box-icon {
      color: #fff !important;
    }
    a {
      color: #fff !important;
    }
    h1 {
      color: #fff !important;
    }
    h2 {
      color: #fff !important;
    }
    h3 {
      color: #fff !important;
    }
    h4 {
      color: #fff !important;
    }
    h5 {
      color: #fff !important;
    }
    h6 {
      color: #fff !important;
    }
    i {
      color: #fff !important;
    }
    p {
      color: #fff !important;
      opacity: 0.65;
    }
    span {
      color: #fff !important;
    }
    [class*="text-gradient"] {
      color: #fff !important;
      background-image: none;
      -webkit-background-clip: inherit;
      -webkit-text-fill-color: inherit;
    }
    [class^="text-gradient"] {
      color: #fff !important;
      background-image: none;
      -webkit-background-clip: inherit;
      -webkit-text-fill-color: inherit;
    }
  }
}
.feature-box.feature-box-light-hover {
  &:hover {
    .btn {
      color: #232323 !important;
      border-color: #232323 !important;
    }
    .feature-box-icon {
      color: #232323 !important;
    }
    a {
      color: #232323 !important;
    }
    h1 {
      color: #232323 !important;
    }
    h2 {
      color: #232323 !important;
    }
    h3 {
      color: #232323 !important;
    }
    h4 {
      color: #232323 !important;
    }
    h5 {
      color: #232323 !important;
    }
    h6 {
      color: #232323 !important;
    }
    i {
      color: #232323 !important;
    }
    p {
      color: #232323 !important;
      opacity: 0.65;
    }
    span {
      color: #232323 !important;
    }
    [class*="text-gradient"] {
      color: #232323 !important;
      background-image: none;
      -webkit-background-clip: inherit;
      -webkit-text-fill-color: inherit;
    }
    [class^="text-gradient"] {
      color: #232323 !important;
      background-image: none;
      -webkit-background-clip: inherit;
      -webkit-text-fill-color: inherit;
    }
  }
}
.feature-box-icon-rounded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  i {
    position: relative;
    z-index: 1;
  }
  .feature-box-icon-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.feature-box.feature-box-show-hover {
  .feature-box-move-bottom-top {
    width: 100%;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    overflow: hidden;
  }
  &:hover {
    .feature-box-move-bottom-top {
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    .move-bottom-top {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .move-bottom-top {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
}
.feature-box.feature-box-hide-show-hover {
  .feature-box-move-bottom-top {
    width: 100%;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    overflow: hidden;
  }
  &:hover {
    .feature-box-move-bottom-top {
      -webkit-transform: translateY(-30px);
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -o-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    .move-bottom-top {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    .feature-box-icon {
      opacity: 0;
    }
  }
  .move-bottom-top {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
}
.feature-box-svg {
  position: relative;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
.btn-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.box-shadow-hover {
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}
.box-shadow-double-large {
  box-shadow: 0 0 35px rgba(40, 42, 54, 0.18);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.box-shadow-double-large-hover {
  &:hover {
    box-shadow: 0 0 35px rgba(40, 42, 54, 0.18);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.box-shadow-large {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.box-shadow-large-hover {
  &:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.box-shadow-extra-large {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.box-shadow-extra-large-hover {
  &:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.box-shadow-medium {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.box-shadow-medium-hover {
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.box-shadow-small {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.box-shadow-small-hover {
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.box-shadow-dark-hover {
  &:hover {
    -moz-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.box-shadow-light-hover {
  &:hover {
    -moz-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.box-shadow-very-light-hover {
  &:hover {
    -moz-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.feature-box-icon {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 30px;
}
.move-bottom-top {
  margin-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 13px;
}
.contactSection {
  background-color: #f7f7f7;
  padding: 6vw 0;
}

.supportSection {
  padding: 8vw 0;
  background-color: #fff;
  label {
    font-size: 13px;
    color: #333;
    padding-left: 5px;
  }
  h4 {
    font-size: 2.85rem;
    font-weight: 600;
  }
}
