footer {
  background-color: #585f6e;
  .topFooter {
    padding-top: 60px;
    padding-bottom: 30px;
    .footerTitle {
      font-size: 21px;
      font-weight: 700;
      // display: inline-flex;
      position: relative;
      padding-bottom: 20px;
      span {
        text-transform: uppercase;
        font-weight: 300;
        padding-left: 5px;
        display: inline-flex;
      }
      &.bordered {
        border-bottom: 2px solid #6e6f72;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:after {
          content: "";
          display: inline-flex;
          width: 50px;
          height: 4px;
          position: absolute;
          background-color: #e8691e;
          left: 0;
          bottom: -3px;
          border-radius: 15px;
        }
        &.center {
          &:after {
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
    }
    ul {
      li {
        a {
          color: #fff;
          display: block;
          padding: 3px 0;
        }
      }
    }
  }
  .bottomFooter {
    background-color: var(--primary);
    @media (max-width: 575px) {
      font-size: 12px;
    }
    a {
      color: var(--secondary);
    }
    ul {
      li {
        a {
          color: #fff;
          line-height: 3;
          display: block;
          &:before {
            content: "";
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 7px;
            background: #fff;
          }
        }
      }
    }
  }
}
