@charset "utf-8";
/*Start: Reset CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
hr,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
:focus {
  outline: 0;
}
em {
  font-style: italic;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}
html[xmlns] .clearfix {
  display: block;
}
input:disabled {
  cursor: not-allowed;
}

html {
  height: 100%;
  overflow-y: auto;
  font-size: 16px;
}

body {
  font-size: $base-font;
  // line-height: 1.3;
  font-family: $font-family;
}
.text-base {
  color: #808080;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z-6 {
  z-index: 6;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 2px solid #bec1c4;
  display: inline-flex;
  position: relative;
  margin-bottom: 30px;
  @media (max-width: 1399px) {
    font-size: 1.75rem;
  }
  @media (max-width: 1199px) {
    font-size: 1.4rem;
  }
  @media (max-width: 575px) {
    font-size: 1.2rem;
  }
  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
  span {
    text-transform: uppercase;
    font-weight: 300;
  }
  &:after {
    content: "";
    display: inline-flex;
    width: 150px;
    height: 10px;
    position: absolute;
    background-color: #e8691e;
    bottom: -6px;
    border-radius: 15px;
  }
  &.center {
    text-align: center;
    justify-content: center;
    &:after {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}
.subTitle {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-flex;
  position: relative;
  padding-bottom: 20px;
  span {
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 5px;
    display: inline-flex;
  }
  &.bordered {
    border-bottom: 2px solid #bec1c4;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:after {
      content: "";
      display: inline-flex;
      width: 150px;
      height: 10px;
      position: absolute;
      background-color: #e8691e;
      bottom: -6px;
      border-radius: 15px;
    }
    &.center {
      &:after {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
