header {
  background-image: url(../images/heder_bg.png);
  height: 138px;
  background-size: auto 100%;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  @media (max-width: 1399px) {
    .logo {
      max-height: 90px;
    }
  }
  @media (max-width: 1199px) {
    .logo {
      max-height: 70px;
    }
  }
  @media (max-width: 991px) {
    background: #585f6e;
    height: auto;
    padding-top: 15px;
    .logo {
      max-height: 40px;
    }
  }
  .hamburgar {
    @media (min-width: 992px) {
      display: none;
    }
    width: 30px;
    span {
      display: block;
      height: 2px;
      background-color: #fff;
      margin: 4px 0;
    }
  }
  .nav {
    margin-bottom: 7px;
    display: flex;
    @media (max-width: 991px) {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background: var(--primary);
      &.open {
        display: flex;
      }
    }
    li {
      padding: 0 1.5rem;
      @media (max-width: 1399px) {
        padding: 0 1rem;
      }
      @media (max-width: 1199px) {
        padding: 0 0.5rem;
      }
      a {
        line-height: 3.7;
        color: #fff;
        // font-size: $base-font * 0.875;
        display: block;
        position: relative;
        @media (max-width: 991px) {
          line-height: 3;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          background: #fff;
          bottom: -1px;
          left: 0;
          border-radius: 3px;
          opacity: 0;
          transition: all 0.6s;
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
        &.active {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
