.home_banner_section {
  .home_banner {
    margin-bottom: 0;

    img {
      width: 100%;
    }

    .slick-dots {
      bottom: 10px;

      li {
        button {
          background-color: #fff;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          padding: 0;

          &::before {
            font-size: 0;
          }
        }

        &.slick-active {
          button {
            background-color: #801d83;
          }
        }
      }
    }
  }
}

.welcome_section {
  margin-top: -7px;
  background-color: #e9eff3;
  overflow: hidden;

  .welcome_right {
    position: relative;

    .welcomeBg {
      z-index: 0;
      background-image: url(../images/newUpdate_bg.jpg);
      height: 100%;
      width: calc(100% + 350px);
      left: 0;
      top: 0;
      position: absolute;
      @media (max-width: 991px) {
        left: -136px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .welcome_blk {
      padding: 15px 30px;
      position: relative;
      z-index: 1;
      color: #ffffff;
      @media (max-width: 767px) {
        padding: 15px 0px;
      }

      .business {
        max-height: 480px;
        overflow-x: auto;
        padding-right: 20px;
        @media (max-width: 991px) {
          max-height: none;
        }

        h5 {
          margin-bottom: 24px;
        }

        p {
          font-size: 13px;
        }
      }

      .date {
        margin-top: 10px;
        font-size: 15px;
      }
    }
  }
}

.ourServices_sec {
  padding: 60px 0;

  .services_card {
    box-shadow: 1.169px 3.825px 2.5px rgba(0, 0, 0, 0.32);
    overflow: hidden;
    border-radius: 9px 9px 0 0;
    .sTitle {
      background-color: #4b1270;
      text-align: center;
      color: #fff;
    }

    .sImg {
      height: 278px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .sDetails {
      padding: 35px 20px;
      height: 196px;
    }
  }
}
