:root {
  --primary: #4b1270;
  --secondary: #e8691e;
  --font-family: "Montserrat", sans-serif;
}
$primary: var(--primary);
$secondary: var(--secondary);
$base-font: 1rem;
$font-family: "Montserrat", sans-serif;
